.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .bottom {
    display: flex;
    justify-content: space-between;
    /* align-content: flex-start; */
  }
  
  .bottom a img {
    width: 15%;
  }
  
  .bottom a:nth-child(2) {
    display: flex;
    justify-content: flex-end;
  }
  
  .top a {
    display: flex;
    justify-content: flex-end;
  }
  
  .top a img {
    width: 4%;
    text-align: center;
  }
  
  .main {
    position: relative;
    width: 80%;
    height: 80vh;
    padding: 0 8%;
  }
  
  .main p {
    width: 65%;
    margin-left: 12%;
    margin-top: 1rem;    /* height: 90%; */
    font-size: 2.15em;
    line-height: 1.75;
    text-align: center;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    padding-left: 18%;
    padding-top: 11%;
  }
  
  .back {
    position: fixed;
    width: 95%;
    margin: 0;
    padding: 0;
    height: 95%;
  }
  .main .imgdiv{
  margin-top: 1%;
  margin-left:35%;
  }
  .main .imgdiv img{
    height:15em;            
    border-radius: 40%;        
    margin:1%;                
  }